body{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
* 
  ul,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: 'Mulish', sans-serif;
  }
  header {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav {
    padding: 40px 0px;
  }
  nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
  }
  nav .header-title {
    color: #131318;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  nav .span {
    color: #ff5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  nav ul a {
    color: #424247;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all linear 0.3s;
  }
  .nav,
  ul,
  a:hover {
    color: #ff5400;
  }
/* banner start */
.banner-container {
    padding: 106px 185px;
    background-image: url(../images/Group\ 13.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    z-index: 1;
    position: relative;
  }
  .banner-container::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    );
    z-index: -1;
  }
  .banner-content {
    color: #fff;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
  }
  .banner-description {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .banner-option {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
  }
  .banner-option-menu {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .banner-option-menu input {
    padding: 16px;
    width: 100%;
    max-width: 174px;
    border-radius: 8px;
    background: #fff;
    border: none;
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .banner-option-menu input::placeholder {
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .banner-option .btn-banner {
    max-width: 174px;
    width: 100%;
    border-radius: 8px;
    background: #ff5400;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: all linear 0.3s;
  }
  .banner-option .btn-banner:hover {
    background-color: #b5582a;
  }

  /* tour section */
  main{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.popular-tour-head {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.popular-head-description {
  width: 100%;
  max-width: 500px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}
.popular-description ul li {
  max-width: 500px;
  width: 100%;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.popular-description-finished {
  max-width: 500px;
  width: 100%;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.popular-tour-section .banner-btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  transition: all linear 0.3s;
}
.popular-tour-section .banner-btn:hover {
  background-color: #b5582a;
}
.popular-tour {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
.main-container-img img {
  width: 100%;
}
/* popular destination */
.destinatiom-head {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .section-description {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .destination-img-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }
  .destination-img-section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .destination-img-section2 {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 473px 673px;
    gap: 24px;
  }
  .section-content-title {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 16px;
}
.choose-description {
  color: rgba(19, 19, 24, 0.7);
  width: 100%;
  max-width: 647px;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card-container {
  padding: 32px;
}
.card-container-bk {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card-container-bk1 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card-container-bk2 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  justify-content: center;
}
.cart-title {
  color: #131318;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 16px;
}
.card-description {
  width: 100%;
  color: #5a5a5d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card-container .card-img img {
  width: 64px;
  height: 64px;
}
.chosse-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.section-container {
  margin-top: 24px;
  margin-bottom: 48px;
}

.section-form {
    padding: 100px 0;
  }
  .form-section {
    max-width: 474px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #ff5400;
    padding: 0 40px;
  }
  .form-section form .input1 {
    display: block;
  }
  .form-section form input {
    max-width: 300px;
    width: 100%;
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.3);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
  }
  .form-section .submit {
    border-radius: 8px;
    background: #ff5400;
    color: #fff;
    text-align: start;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    padding: 14px 170px;
  }
  .form-section form input::placeholder {
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
  }
  .Newsletter {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .form-description {
    color: #5a5a5d;
    max-width: 350px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 48px;
  }
  .form-img img {
    width: 100%;
    max-width: 672px;
  }
  .newsletter-section {
    display: flex;
    gap: 24px;
  }

  .footer-section {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 50px;
  }
  .footer-section {
    padding: 110px 0;
  }
  .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .footer-description {
    max-width: 779px;
    width: 100%;
    color: #5a5a5d;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 33px;
  }
  .media-section {
    max-width: 1320px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .line {
    max-width: 872px;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.1);
    margin-top: 50px;
  }
  .copy-right-simble {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  /* discount */
.discount-part {
  padding: 100px 0;
}
.discount-item-head {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.discount-description {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 28px;
}
.discount-img-section {
  padding: 50px 50px 50px 400px;
  background-image: url('../Images/Group\ 39.png');
  border-radius: 16px;
  margin-bottom: 24px;
}
.discount-content {
  max-width: 300px;
  width: 100%;
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  margin: 0 auto;
}
.discount-title {
  color: #131318;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.discount-description-item {
  max-width: 400px;
  width: 100%;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.price-section {
  color: #ff5400;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.discount-btn {
  width: 150px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all linear 0.3s;
}
.discount-btn:hover {
  background-color: #b5582a;
}
.discount-section {
  padding: 50px 50px;
  background-image: url('../Images/Group\ 40.png');
  border-radius: 16px;
  margin-bottom: 24px;
}
.discount-contentet {
  max-width: 400px;
  width: 100%;
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.place-section-head {
    max-width: 423px;
    width: 100%;
    color: #131318;
    font: size 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
  }
  .place-description {
    max-width: 530px;
    width: 100%;
    color: #5a5a5d;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
  }
  .place-section-list ul li {
    max-width: 518px;
    width: 100%;
    color: #131318;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
  }
  .place-section {
    display: flex;
  }
  .banner-video-section video {
    width: 100%;
    max-width: 610px;
    border-radius: 16px;
    margin-left: 10px;
  }

  /* responsive mobil */
@media screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    nav > ul {
      gap: 20px;
    }
    .banner-container {
      padding: 32px 24px;
      margin: 0 20px;
    }
    .banner-content {
      text-align: center;
      font-size: 1.4rem;
    }
    .banner-option-menu {
      flex-direction: column;
      align-items: center;
    }
    .banner-option {
      width: 100%;
      padding: 16px 0px;
      padding: 24px 0;
    }
    .banner-option .btn-banner {
      width: 280px;
      max-width: 400px;
      padding: 16px;
    }
    .banner-option-menu input {
      width: 250px;
      max-width: 400px;
    }
    .popular-tour {
      margin: 100px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      margin: 24px;
    }
    .main-container-img img {
      width: 100%;
      margin: 24px 0;
    }
    .destination-img-section {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 20px;
    }
    .destination-img-section img {
      width: 100%;
      max-width: 573px;
    }
    .destination-section {
      margin: 0 20px;
    }
    .destinatiom-head {
      font-size: 1.2rem;
    }
    .section-title {
      margin: 0 20px;
    }
    .chosse-card {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 20px;
    }
    .section-container {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    .discount-img-section {
      padding: 100px 16px 16px 16px;
      margin-bottom: 24px;
      margin: 0 20px;
      margin-bottom: 16px;
      margin-top: 16px;
    }
    .discount-content {
      width: 230px;
      padding: 15px;
    }
    .discount-section {
      padding: 20px;
  
      margin: 0 20px;
    }
    .discount-contentet {
      padding: 20px 10px 18px 29px;
      width: 245px;
    }
    .discount-section {
      padding: 100px 16px 16px 44px;
      margin-bottom: 24px;
      margin: 0 20px;
      margin-bottom: 16px;
      margin-top: 16px;
    }
    .place-section {
      flex-direction: column;
      padding: 20px;
      gap: 24px;
    }
    .newsletter-section {
      flex-direction: column;
      flex-direction: column-reverse;
      padding: 20px;
    }
    .form-section .submit {
      padding: 16px;
    }
    .section-form {
      padding: 0;
    }
    .form-section form input {
      padding: 15px 15px;
    }
    .form-section {
      max-width: 335px;
      padding: 24px;
    }
    .footer-title {
      font-size: 1.2rem;
    }
    .footer-description {
      margin: 0;
      margin-top: 15px;
      margin-bottom: 33px;
    }
    .footer-section {
      padding: 33px 0;
    }
}


.our_gallery .container-fluid{
    display: grid;
}
.img-gallery{}

.single_gallery{
	position: relative;
	margin: 0 15px;
   
}
.gallery-h2,.gallery-p{
    text-align: center;
}

.single_gallery h4{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	z-index: 99;
	font-size: 12px;
	background: #f9461d;
	padding: 3px 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
}

.gallery_enlarge_icon{
	width: 40px;
	height: 40px;
	line-height: 45px;
	color: #fff;
	background: #f9461d;
	border-radius: 50%;
	text-align: center;
}
.gallery_enlarge_icon:hover{
	background: #e1330b;
	color: #fff;
}
.single_gallery img{
	max-width: 100%;
	height: auto;
	border: inherit!important;
}
.our_gallery .owl-controls .owl-buttons div{
	background: #f9461d;
	width: 40px;
	height: 40px;
	line-height: 35px;
	border: 1px solid #f9461d;
	opacity: .8;
	transition: .5s;
	color: #fff;
}
.our_gallery .owl-controls .owl-buttons div:hover,
.our_gallery .owl-controls .owl-buttons div:focus{
	background: #fff;
	color: #202020;
}